<!DOCTYPE html>
<html>
<head>
</head>
<body>
 <table border="1">
    <tr>
      <th>管理者メニュー</th>
    </tr>
    <tr>
      <td><%= link_to “ユーザー一覧、削除”,admins_users_index_path %></td>
    </tr>
    <tr>
      <td>ユーザーの投稿一覧、削除</td>
    </tr>
    <tr>
      <td>検索</td>
    </tr>
    <tr>
      <td>ログアウト</td>
    </tr>
  </table>
</body>
</html>