<div style="height: 100vh;">
<h2>管理者メニュー</h2>

  <div class="admin-menu">
    <div class="admin-menu-content">
      <%= link_to 'ユーザー一覧、削除', admins_users_index_path %>
    </div>
    <div class="admin-menu-content">
      <%= link_to '投稿一覧、削除',   admins_posts_index_path %>
    </div>
    <div class="admin-menu-content">
      <%= link_to '検索', admins_users_index_path %>
    </div>
    <div class="admin-menu-content">
      <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
    </div>
  </div>
</div>
