<div style="height: 100vh;">
<div class="matching-index-page">

  <div class="matching">
    <h1 class="matching-title ml-3">メッセージ</h1>
    <h4 class="matching-num">お問い合わせ <%= @match_users.size %>人</h4>

    <div class="matching__list">
      <% unless @match_users.empty? %>
        <% @match_users.each do |user| %>

          <%= link_to chat_rooms_path(params: { user_id: user.id }), method: :post do %>
            <div class="matching__person">
        <br>
              <div class="matching__person-name">
                <h4><%= user.name %>さん</h4>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
</div>
